/* Dark mode */

.dark-mode {
    background-color: #222222;
    color: white;
}

.dark {
    border-radius: 50%;
}

/* Header / Body / Footer */

header {
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: hsla(155, 95%, 23%, 1);
    background: linear-gradient(360deg, hsla(155, 95%, 23%, 1) 0%, hsla(0, 0%, 100%, 1) 33%, hsla(0, 0%, 100%, 1) 50%, hsla(0, 0%, 100%, 1) 66%, hsla(0, 100%, 50%, 1) 100%);
    background: -moz-linear-gradient(360deg, hsla(155, 95%, 23%, 1) 0%, hsla(0, 0%, 100%, 1) 33%, hsla(0, 0%, 100%, 1) 50%, hsla(0, 0%, 100%, 1) 66%, hsla(0, 100%, 50%, 1) 100%);
    background: -webkit-linear-gradient(360deg, hsla(155, 95%, 23%, 1) 0%, hsla(0, 0%, 100%, 1) 33%, hsla(0, 0%, 100%, 1) 50%, hsla(0, 0%, 100%, 1) 66%, hsla(0, 100%, 50%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#037143", endColorstr="#FFFFFF", GradientType=1);
    padding: 0 3%;
    align-items: center;
    color: rgb(146, 60, 34);
}

body {
  font-family: 'Freehand', cursive;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(146, 60, 34);
    background: hsla(155, 95%, 23%, 1);
    background: linear-gradient(360deg, hsla(155, 95%, 23%, 1) 0%, hsla(0, 0%, 100%, 1) 33%, hsla(0, 0%, 100%, 1) 50%, hsla(0, 0%, 100%, 1) 66%, hsla(0, 100%, 50%, 1) 100%);
    background: -moz-linear-gradient(360deg, hsla(155, 95%, 23%, 1) 0%, hsla(0, 0%, 100%, 1) 33%, hsla(0, 0%, 100%, 1) 50%, hsla(0, 0%, 100%, 1) 66%, hsla(0, 100%, 50%, 1) 100%);
    background: -webkit-linear-gradient(360deg, hsla(155, 95%, 23%, 1) 0%, hsla(0, 0%, 100%, 1) 33%, hsla(0, 0%, 100%, 1) 50%, hsla(0, 0%, 100%, 1) 66%, hsla(0, 100%, 50%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#037143", endColorstr="#FFFFFF", GradientType=1);
    padding: 0 3%;
}


/* Titre */ 
h1 {
  padding-left: 1%;
}

h2 {
    text-align: center;
    color: rgb(146, 60, 34);
}

/*  header / logo / darkmode */

img {
    width: 5vw;
    height: 10vh;
    ;
}

/* filtre */
.button {
    text-align: center;
}

.button button {
  padding-left: 50px;
  padding-right: 50px;
  margin: 10px;
  border-radius: 10px;
  background-color: #888;
}
/* Panier */

.panier {
  width: 75%;
  text-align: center;
  margin: auto;
  position: absolute;
  bottom: 0;
  margin: 1%;
  left: 10%;
}

/* Repas */

.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 1rem 1rem;
    grid-auto-rows: minmax(1fr, 1fr);
    grid-auto-flow: row;
    padding: 0 5%;
    box-sizing: border-box;
    font-size: 20px;
}



.card {
    padding-bottom: 100%;
    display: block;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.card:hover {
    transform: rotateY(180deg);
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: rgb(146, 60, 34);
    text-shadow: 1px 1px 2px white;
    background-size: cover;
    background-repeat: no-repeat;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: inline-flex;
    flex-direction: column;
    background: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm21-paper-jira-8877.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=60611f0ea4f05f8a35423584b963446f);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: rgb(146, 60, 34);
}

.back > ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.prix {
    border: 2px solid black;
    background-color: white;
    padding: 1%;
}

.front footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.center {
    text-align: center;
}

ul {
    text-align: left;
    margin-left: 50px;
}

/* Comment section */

fieldset {
    border-radius: 10px;
    background-color: whitesmoke;
    width: 20%;
    padding-bottom: 1%;
}

fieldset img {
    width: 100%;
    height: 40%;
}

.commentZone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#click {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Etoile */

.star {
    color: rgb(185, 173, 0);
    padding-left: 3%;
}


/* Lien reseaux */

.reseaux {
    color: rgb(146, 60, 34);
    padding-left: 4%;
}

.reseaux:hover {
    color: red;
}

/* Adresse */

.adress {
    color: white;
}

/* Shopping */

 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

/* Media */

@media (max-width: 450px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 1rem 1rem;
    grid-auto-rows: minmax(1fr);
    grid-auto-flow: row;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 16px;
  }
  h1 {
    padding-left: 5%;
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }

  img {
    width: 10vw;
    height: 5vh;
  }
}

@media (max-width: 450px) {
    .button button {
      padding-left: 10px;
      padding-right: 10px;
      margin: 10px;
      border-radius: 10px;
      background-color: #888;
    }
}

@media (min-width: 450px) and (max-width:650px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 1rem 1rem;
    grid-auto-rows: minmax(1fr);
    grid-auto-flow: row;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 16px;
  }

}

@media (min-width: 650px) and (max-width:1200px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 1rem 1rem;
    grid-auto-rows: minmax(1fr);
    grid-auto-flow: row;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 16px;
  }
}